body,html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
   background: url(fondo.jpg) center center;
    background-size: cover;
}

#logo{
position:absolute; /* No depende de sus contenedores */
top:20px; /*Separación de la parte superior*/
/* bottom parte inferior */
left:20px; /*Alineado a la izquierda*/
/* right alineado a la derecha */
width: 100px; /*Ancho del logo*/
}



.contenedor{
    text-align: center;
padding: 20px;
    background-color: rgba(255, 255, 255, 0.937);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.boton-redireccion{
background-color:brown;
color:rgba(255, 255, 255, 0.937);
padding: 10px 20px;
display:inline-block;
margin-top: 20px;
border-radius: 5px;
text-decoration: none;
}

.boton-redireccion:hover{
background-color: #8B4513;
}
