body {
    font-family: 'Times New Roman', Times, serif;

    background-image: url("fondo2.1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;
}

/* Logo */
/* #logo {
    position: fixed;
    top: 15px;
    left: 15px;

    width: 90px;

    z-index: 1000;
} */

.principal{
    background-color: rgba(97, 95, 95, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Tarjeta principal */
.contenido {
    background-color: rgba(255, 255, 255, 0.90);

    border-radius: 15px;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);
}

/* Footer */
.footer {
    background-color: rgba(255, 255, 255, 0.90);

    text-align: center;

    padding: 15px;
}

section{
    scroll-margin-top: 80px;
}

/* Tablet */
@media (max-width: 992px) {

    /* #logo {
        width: 75px;
    } */

}

/* Celular */
@media (max-width: 768px) {

    /* #logo {
        width: 60px;
        top: 10px;
        left: 10px;
    } */

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

}