body,html {
font-family:'Times New Roman', Times, serif;
height:100%;
width:100%;
display:flex;
justify-content:center;
align-items:center;
background: url(fondo2.1.jpg) center center;
background-size: cover;

}

#logo{
position:absolute; /* No depende de sus contenedores */
top:20px; /*Separación de la parte superior*/
/* bottom parte inferior */
left:20px; /*Alineado a la izquierda*/
/* right alineado a la derecha */
width: 100px; /*Ancho del logo*/
}

.contenedor2{
    display:flex;
    justify-content:center;
    width:100vw;
    flex-direction:column;
    align-items:center;
}


.contenedor3{
padding:20px;
    background-color: rgba(176, 176, 174, 0.937);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contenedor4 {
text-align: center;
background-color:aliceblue;
bottom:20px; /*Separación de la parte superior*/
}


